



<!DOCTYPE html>
<html>






<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="toTop" content="true">
<title>中国大唐新能源科学技术研究院</title>
<link href="http://192.168.105.10:8080/dtwzht/otherResource/bootstrap3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link href="http://192.168.105.10:8080/dtwzht/xny_site/main/css/default/page.css" rel="stylesheet">
<link href="http://192.168.105.10:8080/dtwzht/xny_site/main/css/default/leftMenuStyles.css" rel="stylesheet">
<link href="http://192.168.105.10:8080/dtwzht/otherResource/fontAwesome/css/font-awesome.min.css" rel="stylesheet">
<link href="http://192.168.105.10:8080/dtwzht/otherResource/fontAwesome/css/font-awesome-ie7.css" rel="stylesheet">
<link href="http://192.168.105.10:8080/dtwzht/otherResource/ueditor/third-party/video-js-5.10.7/video-js.min.css" rel="stylesheet">
<link rel="Shortcut Icon" href="http://192.168.105.10:8080/dtwzht/xny_site/main/images/favicon.ico" />
<link rel="Bookmark" href="http://192.168.105.10:8080/dtwzht/xny_site/main/images/favicon.ico" />
<!--[if lte IE 9]>
<script src="http://192.168.105.10:8080/dtwzht/otherResource/respond.js"></script> 
<![ENDIF]-->
<!--[if lt IE 9]>
<script src="http://192.168.105.10:8080/dtwzht/otherResource/ueditor/third-party/video-js-5.10.7/ie8/videojs-ie8.min.js"></script>
<![ENDIF]-->
<script src="http://192.168.105.10:8080/dtwzht/otherResource/jquery-1.12.4.min.js"></script>
<script src="http://192.168.105.10:8080/dtwzht/otherResource/bootstrap3.3.5/js/bootstrap.min.js"></script>
<script src="http://192.168.105.10:8080/dtwzht/xny_site/main/js/menuGuideDatas.js"></script>
<!-- <script src="http://cdn.bootcss.com/bootstrap-hover-dropdown/2.0.10/bootstrap-hover-dropdown.min.js"></script> -->



</head>
<body>
<!-- 顶部图片	搜索 -->
<div class="hidden-xs head-brand">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<a href="http://192.168.105.10:8080/dtwzht/xny_site">
					<img src="http://192.168.105.10:8080/dtwzht/xny_site/main/images/logo.jpg"  alt="中国大唐新能源科学技术研究院" />
				</a>
			</div>
			<div class="col-sm-3 col-sm-offset-6 " >
		       <div class="search">
	        	<input id="searchContent" type="text" class="ipt" value=" ">
                <input name="search" type="submit" class="btn" id="search" value=" ">
                </div>
			</div>
		</div>
	</div>
</div>	
<div class="head-v3 hidden-xs">
	<div class="topbanner">
    	<div>
    	 	<div class="slide-banner">
			    <div class="banner-bg" style="display: block; background-image: url(http://192.168.105.10:8080/dtwzht/xny_site/main/images/banner1.jpg);"></div>
			    <div class="banner-content">
			        <a id="__AD_shouye_banner_0" class="banner" data-bg="http://192.168.105.10:8080/dtwzht/xny_site/main/images/banner1.jpg">             
				        <div class="banner-img" style="left:0"><img style="margin-left: 0px" src="http://192.168.105.10:8080/dtwzht/xny_site/main/images/banner1-1.png" alt=""></div>            
				        <div class="banner-img" style="left:0"><img style="display:none" /></div>                        
				        <div class="banner-img" style="left:0"><img style="display:none" /></div>            
			        </a>    
			      
			    </div>
			    <!--背景层-->
			    <div class="banner-nav-bg" style="display:none;"></div>
			    <!--翻页的点点-->
			    <ul class="banner-nav" style="display:none;"><li class="active"></li><li ></li><li ></li> <li ></li><li ></li></ul>
			    <!--进度条-->
			    <div class="banner-bar-bg" style="display:none;"><div class="banner-bar"></div></div>
			</div>
    	</div>
    </div>
</div>


<nav class="navbar navbar-default visible-xs">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display  站点图片 -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand visible-xs" href="#">
      	<img src="http://192.168.105.10:8080/dtwzht/xny_site/main/images/logo.jpg"  alt="" />
      </a>
    </div>

    <!-- 导航菜单 -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="single-hover">
        	<a href="http://192.168.105.10:8080/dtwzht/xny_site">首页 <span class="sr-only">(current)</span></a>
        </li>
        
        
        	
        		
        		
        			<li class="single-hover">
        				
		  				
			        	<a href="http://192.168.105.10:8080/dtwzht/showNewsListForSiteControlAction!showNewsList.action?site=xny_site&program=cslm">测试栏目</a>
			        </li>
        		
        	
		    
      </ul>
    </div>
  </div>
</nav>




<div class="container top-body-gap" >&nbsp;</div>

<!-- 主体部分 -->
<div class="container body-div" >
      <div class="row">
      	<!-- 左侧导航 -->
        <div class="col-sm-3 sidebar hidden-xs">
        	<div>
           		 测试栏目
          	</div>
          	<ul class="nav nav-sidebar text-center leftGuide">
           		
          	</ul>
        </div>
        <!-- 右侧内容主体 -->
        <div class="col-sm-9">
        	<!-- 路径导航 -->
        	<ol class="breadcrumb text-right">
			  	
			</ol>
			
			<div class="row">
				<div class="col-sm-12 likeHtmlMark">
					
						<h3 class="text-center docTitle">测试新闻</h3>
						<h4 class="text-center docSubTitle"></h4>
						<br />
						<div class="row hidden-xs">
							<div class="col-sm-4 text-left">
								
							</div>
							<div class="col-sm-4 text-center">
								
									作者：黄好
								
							</div>
							<div class="col-sm-4 text-right">日期：2019-03-07 09:56</div>
						</div>
						<div class="row visible-xs">
							<div class="col-xs-12 ">2019-03-07 09:56  黄好</div>
						</div>
						<hr>
					
					
					<div id="paragraph" class="my-list-group">     
						<p>啊实打实大飒飒</p>
					</div>              
					
					
					
					
						
					
					
				</div>
			</div>
        </div>
        
      </div>
</div>
<div class="footer hidden-xs">
	<div class="container-fluid">
		<div class="container text-center">
    	  	中国大唐新能源研究院
    	  	 
		</div>
	</div>
</div>
<div class="footer visible-xs">
	<div class="container-fluid">
		<div class="container text-center">
    	  	 <div class="row">
    	  	 	中国大唐新能源研究院
    	  	 </div>
		</div>
	</div>
</div>

</body>
<script src="http://192.168.105.10:8080/dtwzht/otherResource/common.js"></script>

<script src="http://192.168.105.10:8080/dtwzht/xny_site/main/js/bannerJs.js"></script>
<script src="http://192.168.105.10:8080/dtwzht/otherResource/backToTop/toTop.js"></script>
<script src="http://192.168.105.10:8080/dtwzht/otherResource/ueditor/third-party/video-js-5.10.7/video.min.js"></script>
<script src='http://192.168.105.10:8080/dtwzht/otherResource/jqueryPlugins/jquery.velocity.min.js'></script>
<script src="http://192.168.105.10:8080/dtwzht/xny_site/main/js/run_menu.js"></script>
<script type="text/javascript">
var initpageContextPath = "/dtwzht/";
var news_id = "xny_site-cslm-20190307-BwjC";
$(document).ready(function(){
	window.slider.init($('.slide-banner'));/*顶部banner 轮播*/
	$("div.head-v3").build_top_menu(TOP_MENUS,'/dtwzht/','prepend');
	$("ul.nav.nav-sidebar.text-center.leftGuide").build_left_menu(TOP_MENUS,'cslm','/dtwzht/xny_site','/dtwzht/');
	 $("#search").click(function(){
			var url = '/dtwzht/showSearchForSiteControlAction!showSearch.action?site=xny_site&title='+encode($("#searchContent").val());
			window.open(url,"_blank");
		});
	$("video").each(function(){
		$(this).addClass("vjs-big-play-centered");
	});
});
</script>
</html>